.titleCard {
  font-size: 32px;
  line-height: 44px;
  color: #887f81;
}

.colorCard {
  background-color: rgba(17, 2, 14, 0.2);
}
.containerCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.positionCard {
  align-items: center;
  justify-content: center;
  padding: 10px;

  margin-top: 1rem;
}
.positonImg {
  margin-left: 10rem;
  margin-top: 2rem;
}
.positionText {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #b73058;
  margin-left: 10rem;
}
.divCard {
  width: 450px;
  height: 354px;
  left: 1010px;
  top: 1615px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(190, 196, 209, 0.4);
  height: 292.12px;
  margin-top: 4rem;
  margin-left: 5rem;
  border-radius: 50px;
}
.containerTitleCard {
  margin-top: 15rem;
  margin-left: 13rem;
}

@media (max-width: 768px) {
  .containerTitleCard {
    margin-left: 0rem;
  }
}
