* {
  font-family: Poppins;
  font-style: normal;
}
.stylesImgDash {
  margin-left: 3rem;
  margin-top: 6rem;
}
.containerTitle {
  position: absolute;
  width: 689.81px;
  height: 255.53px;
  left: 45%;
  top: 363.22px;
  align-items: center;
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 60px;
  line-height: 47px;
  display: -ms-inline-flexbox;
  color: #b73058;
  transform: rotate(0.33deg);
}
.msg {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  display: -ms-inline-flexbox;
  color: rgba(15, 9, 24, 0.2);
}
