.stylesImgDash {
  margin-left: 3rem;
  margin-top: 6rem;
  display: flex;
  margin-left: 7rem;
}
.containerTitle {
  position: absolute;
  width: 689.81px;
  height: 255.53px;
  left: 45%;
  top: 323.22px;
  align-items: center;
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 60px;
  color: #b73058;
  padding: 0px;
  transform: rotate(0.33deg);
}
.msg {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  display: -ms-inline-flexbox;
  color: rgba(15, 9, 24, 0.2);
}
.buttonConfirmation {
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
  height: 45px;
  width: 220px;
  border-radius: 50px;
  background-color: #b73058;
  text-decoration: none;
  border: none;
}
.pButton {
  margin-top: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  color: aliceblue;
}
.components {
  position: absolute;
  width: 713px;
  height: 0px;
  left: 704px;
  top: 55rem;
  border: 2px solid #b73058;
}
