.footerContainer {
  position: absolute;
  width: 1920px;
  height: 100px;
  left: 0px;
  margin-top: 5rem;
  background-color: #b73058;
}
.footerText {
  color: aliceblue;
  font-size: 18px;
  align-items: center;
}
.sectionFooter {
  margin-left: 45%;
  margin-top: 1rem;
}

.footerText2 {
  margin-left: 3rem;
}

a:hover {
  background-color: #d8bfc8;
}
* a {
  transition-property: background-color;
  transition-duration: 0.6s;
}
.divFooter2 {
  margin-left: 40%;
}
@media (max-width: 1268px) {
  .divFooter2 {
    margin-left: 22rem;
  }

  .sectionFooter {
    margin-left: 29rem;
  }
  @media (max-width: 788px) {
    .divFooter2 {
      margin-left: 2rem;
    }
    .sectionFooter {
      margin-left: 7rem;
    }
  }
}
